.contents li {
    margin-bottom: 30px;
  }

  .contents li a {
    color: #dbdbdb;
    margin-left: 50px;
    font-size: 50px;
    font-weight: 300;
  }
    
  .chapter {
    color: #dbdbdb;
    margin-left: 140px;
    width: 700px;
    margin-bottom: 400px;
  }

  .chapterContent {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    text-indent: 40px;
  }

  .chapterTitle {
    font-size: 45px;
    font-weight: 300;
    text-align: center;
  }

  .tab {
    margin-left: 25px;
  }

  .paupers-daughter-verse {
    font-family: inherit;
    text-align: center;
    line-height: 1.5;
  }