 
.anthology {
    color: #dbdbdb;
    margin: auto;
    width: 700px;
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .contents h1 {
    cursor: pointer;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
  }

  .chapterContent {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    text-indent: 40px;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .chapterTitle {
    display: block;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    height: 45px;
  }

  .tab {
    margin-left: 25px;
  }

  .paupers-daughter-verse {
    font-family: inherit;
    text-align: center;
    line-height: 1.5;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes shrinkHeight {
    from {
      height: 45px;
      margin-bottom: 60px;
    }
    to {
      height: 0;
      margin-bottom: 0;
    }
  }

  .fade-out {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  .fade-out-shrink {
    animation-name: fadeOut, shrinkHeight;
    animation-duration: 0.5s, 1s;
    animation-delay: 0s, 0.5s;
    animation-timing-function: ease-out, ease-in-out;
    animation-fill-mode: forwards, forwards;
  }


  



  
  
  

  
