nav {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
  }
  
  nav a {
    color: #dbdbdb;
    text-decoration: none;
    margin-bottom: 50px;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .line {
    width: 25px;
    height: 2px;
    background-color: #dbdbdb;
    margin-bottom: 5px;
  }

  .title a {
    color: #dbdbdb;
    margin-left: 50px;
    font-size: 25px;
    font-weight: 400;
  }

  